@model List<Dish>
@inject MyContext _context

@{
    ViewData["Title"] = "All Dishes";
    @* var context = ViewBag.Context as MyContext; *@
}

<h1>Check out our tasty dishes! Yum!</h1>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Dish Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Dish dish in Model)
        {
            <tr>
                <td>@dish.Name</td>
                <td>
                    @{
                        @* I do not understand for the life of me why this works, why could I not just use context as I had been using it before  *@
                        @* Why in the world does _context not get recognized in here, it works in other views *@
                        @* var chef = (ViewBag.Context as MyContext).Chefs.FirstOrDefault(c => c.ChefId == dish.ChefId); *@
                        var chef = _context.Chefs.FirstOrDefault(c => c.ChefId == dish.ChefId);
                        @chef.FirstName 
                    }
                </td>
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        }
    </tbody>
</table>