
@model Dish

<h1>Add a New Dish!</h1>
<hr>
<form asp-action="CreateDish" asp-controller="Dish" method="POST">
    <div class="m-3">
        <label asp-for="Name">Name of Dish: </label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="m-3">
        <label asp-for="Calories"># of Calories:  </label>
        <input asp-for="Calories" />
        <span asp-validation-for="Calories"></span>
    </div>
    <div class="m-3">
        <label asp-for="ChefId">Chef's Name: </label>
        @* come back to this later *@
        <select asp-for="ChefId" asp-items="ViewBag.ChefsList">
            <option value="">Select a Chef</option>
        </select>
        <span asp-validation-for="ChefId"></span>
    </div>
    <div class="m-3">
        <label asp-for="Tastiness">Tastiness: </label>
        <select asp-for="Tastiness" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness"></span>
    </div>
    <button type="submit">Add Dish</button>
</form>