<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>It works</h1>
    @{
        List<string> names = new(){"Bob", "Jim","Sam"};
        foreach (string name in names)
        {
            <p>This is a name: @name</p>
        }
    }
</body>
</html>