@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>
<style>
    .container {
        display: flex;
    }
</style>

<h1>Welcome!</h1>
<div class="container">
    <div>
        <h2>Product</h2>
        @await Html.PartialAsync("_NewProductPartial", new Product())
    </div>
    <div>
        <h2>All Products</h2>
        @await Html.PartialAsync("_AllProductsPartial", Model)
    </div>
</div>