@{
    ViewData["Title"] = "Home Page";
}
@* @model UserModel *@
<style>
    .body{
        text-align: center;
    }
    .container {
        display: flex;
    }

    .box {
        width: 150px;
        height: 100px;
        border: 2px solid black;
        margin: 5px;
        text-align: center;
    }
</style>
<div>
    <h1>Welcome @Context.Session.GetString("User")!</h1>
    <form action="Logout" method="post">
        <button action="logout" method="post">Logout</button>
    </form>
</div>
<div class="body">
    <p>@Context.Session.GetInt32("IntVal")</p>
    <div class="container">
        <div>
            <form class="box" style="background-color: rgb(205, 190, 98)" action="/Change" method="post">
                <input type="hidden" name="edit" value="+1"/>
                <input type="submit" value="+1" />
            </form>
            <form class="box" style="background-color: rgb(255, 128, 128)" action="/Change" method="post">
                <input type="hidden" name="edit" value="x2" />
                <input type="submit" value="x2" />
            </form>
        </div>
        <div>
            <form class="box" style="background-color: rgb(140, 140, 255)" action="/Change" method="post">
                <input type="hidden" name="edit" value="-1" />
                <input type="submit" value="-1" />
            </form>
            <form class="box" style="background-color: rgb(92, 220, 92)" action="/Change" method="post">
                <input type="hidden" name="edit" value="random" />
                <input type="submit" value="Add Random" />
            </form>
        </div>
    </div>
</div>