@{
    ViewData["Title"] = "Home Page";
}
@model UserModel
<style>
    .body{
        text-align: center;
    }
    .container {
        display: flex;
    }

    .box {
        width: 100px;
        height: 50px;
        border: 2px solid black;
        margin: 5px;
        text-align: center;
    }
</style>
<div>
    <h1>Welcome @Model.Name!</h1>
    <button asp-action="logout">Logout</button>
</div>
<div class="body">
    <div>STARTING NUMBER</div>
    <div class="container">
        <div>
            <div class="box" style="background-color: rgb(205, 190, 98)">+ 1</div>
            <div class="box" style="background-color: rgb(255, 128, 128)">X 2</div>
        </div>
        <div>
            <div class="box" style="background-color: rgb(140, 140, 255)">- 1</div>
            <div class="box" style="background-color: rgb(92, 220, 92)">+ Random</div>
        </div>
    </div>
</div>