@{
    ViewData["Title"] = "Home Page";
}
@* this denotes we are working with a ViewModel, and we are expecting a string from this *@
@model UserModel
<div class="text-center">
    <h1>That's a USER right THERE</h1>
    <p>@Model.FirstName @Model.LastName</p>
</div>