@{
    ViewData["Title"] = "Home Page";
}
@model List<Category>
<style>
    .container {
        display: flex;
    }
</style>

<h1>Welcome!</h1>
<div class="container">
    <div>
        <h2>New Category</h2>
        @await Html.PartialAsync("_NewCategoryPartial", new Category())
    </div>
    <div>
        <h2>All Categories</h2>
        @await Html.PartialAsync("_AllCategoriesPartial", Model)
    </div>
</div>