@model List<Chef>
    @* need to inject an instance of mycontext in order to use it on this page *@
@inject MyContext _context
@using Microsoft.EntityFrameworkCore; 
    @{
    ViewData["Title"] = "All Chefs";
}

<h1>Check out our roster of chefs!</h1>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Number of Dishes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Chef chef in Model)
        {
            <tr>
                <td>@chef.FirstName @chef.LastName</td>
                <td>@{
                    int age = DateTime.Today.Year - chef.DOB.Year;
                    if (chef.DOB > DateTime.Today.AddYears(-age)) 
                        {
                            age--;
                        }
                    @age
                }
                </td>
                <td>@{
                    int num = _context.Chefs.Include(c => c.AllDishes).Single(c => c.ChefId == chef.ChefId).AllDishes.Count; 
                    @num
                }
                </td>
            </tr>
        }
    </tbody>
</table>