
@model LoginUser

<form asp-action="Login" asp-controller="User" method="POST">
    <div class="m-3">
        <label asp-for="LogEmail">Email: </label>
        <input asp-for="LogEmail" />
        <span asp-validation-for="LogEmail"></span>
    </div>
    <div class="m-3">
        <label asp-for="LogPassword">Password: </label>
        <input asp-for="LogPassword" />
        <span asp-validation-for="LogPassword"></span>
    </div>
    <button>Submit</button>
</form>