@model List<Dish>
@{
    ViewData["Title"] = "New Dish";
}


<div class="text-center">
    <h1 class="display-4">Welcome to CRUDalicious</h1>
</div>
<h2>Here are some recent Dishes!</h2>
<hr>
@foreach (Dish d in Model)
{
    <div>
        <h3><a asp-route-dishId="@d.DishId" asp-action="ViewDish" asp-controller="Dish">@d.Name</a> by @d.Chef</h3>
    </div>
    <div>
        <form asp-action="DeleteDish" asp-controller="Dish" method="POST" asp-route-dishId="@d.DishId">
            <button class="btn-danger">DELETE</button>
        </form>
    </div>
}
