@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDalicious</h1>
</div>

@* 
@foreach (Dish d in Model)
{
    <div>
        <h3><a href="/dishes/@d.DishId">@d.Name</a> by @d.Chef</h3>
    </div>

} *@